<template>
  <div class="wait-cursor">
    <b-spinner class="spinner" />
    <p class="loading-label">Loading data...</p>
  </div>
</template>

<script>
export default {
  name: 'WaitCursor',
};
</script>
