<template>
  <div id="app">
    <div class="header">
      <h1>Energy Overview</h1>
    </div>
    <div class="data">
      <p v-if="noDataFound" class="no-data">
        There was no data recorded yet.
      </p>
      <WaitCursor v-else-if="dateBounds === null"/>
    </div>
    <b-modal ref="err-modal" title="An error occured">
      <div class="d-block text-center">
        <p>The data could not be loaded!</p>
      </div>
    </b-modal>
  </div>
</template>

<script>
import WaitCursor from '@/components/WaitCursor.vue';

export default {
  name: 'App',
  data() {
    return {
      dateBounds: null,
      noDataFound: false,
    };
  },
  methods: {
    updateVhCssVar() {
      // calculate fullscreen height correctly (mobile browser)
      // code token from https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

      const vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    },
    showDataLoadErrorModal() {
      this.$refs['err-modal'].show();
    },
  },
  beforeMount() {
    this.updateVhCssVar();

    window.addEventListener('resize', () => {
      this.updateVhCssVar();
    });
  },
  async mounted() {
    const response = await fetch('http://192.168.188.187:13371/overview', {
      method: 'GET',
    });

    console.log(response);

    if (response.status === 200) {
      try {
        const overviewData = await response.json();
        this.dateBounds = overviewData.statisiticData;
      } catch (e) {
        console.error(e);
      }
    } else if (response.status === 204) {
      this.noDataFound = true;
    } else {
      this.showDataLoadErrorModal();
    }
  },
  components: {
    WaitCursor,
  },
};
</script>
